<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="929eff">  <td>21/07/06 19:17:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DropDownTestUno.dropDownTest()[pri:0, instance:Testcases.DropDownTestUno@53aac487]">dropDownTest</td> 
  <td>main@216856121</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/06 19:17:15</td>   <td>310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DropDownTestUno.sayHello()[pri:0, instance:Testcases.DropDownTestUno@53aac487]">sayHello</td> 
  <td>main@216856121</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/06 19:17:10</td>   <td>-4742</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DropDownTestUno.setUp()[pri:0, instance:Testcases.DropDownTestUno@53aac487]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@216856121</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/06 19:17:15</td>   <td>312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DropDownTestUno.tearDown()[pri:0, instance:Testcases.DropDownTestUno@53aac487]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@216856121</td>   <td></td> </tr>
</table>
